{% extends 'base.html' %} {% set active_page = 'main_menu' %} {% block content
%}
<div>
  <h2>Projekte</h2>
  <p>{{ num_of_records }} Einträge in Liste</p>
  <div class="row">
    <div
      class="col-sm-2"
      style="background-color: lavender; border-radius: 15px"
    >
      <form
        method="GET"
        action="{{ url_for('projekte') }}"
        enctype="multipart/form-data"
      >
        <div class="form-group mt-2">
          {{ form.title.label }} {{ form.title(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.leitung.label }} {{ form.leitung(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.isactive.label }} {{ form.isactive(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary form-control") }}
      </form>
    </div>
    <div class="col-sm-10">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>aktiv</th>
            <th>Bezeichnung</th>
            <th>Thema</th>
            <th>Leitung</th>
            <th>Status</th>
            <th>Datum Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for idx, row in df.iterrows() %}
          <tr>
            <td>
              <a href="{{ url_for('projekt_detail', prj_id= row['AufgabeID']) }}">
                {{ row['AufgabeID'] }}
              </a>
            </td>
            <td>{{ row['istaktiv'] }}</td>
            <td>{{ row['Bezeichnung'] }}</td>
            <td>{{ row['Thema'] }}</td>
            <td>{{ row['Verantw_Fachlich'] }}</td>
            <td>{{ row['Ampel'] }}</td>
            <td>{{ row['Status_Datum_formatted'] }}</td>
            <td>
              <a href="{{ url_for('projekt_edit', prj_id= row['AufgabeID']) }}"
                ><i title="Projekt editieren" class="fas fa-pen"></i
              ></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% endblock %}
</div>
